.timelineBlock {height:40px;position: relative;clear: both;margin-bottom:10px;}
.timelineMoment {z-index:0;position:absolute;width:100%;text-align:center;font-size: 1.3em;font-weight: bold;
  .btn {
    background-color: $primary;
  }
}
.timelineContent {z-index: 1;width:45%;font-size:1.3em;vertical-align: middle;padding:.25em;position: relative;}